.BBCMainContainer {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.BBCHeading {
    height: 36px;
    font-family: 'Recoleta';
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0F0E36;
    margin-bottom: 0.5em;
}

.BBCContent {
    height: 15px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.25rem;
    text-align: center;
    color: #B4B4BF;
}

.BBCCardMainContainer {
    width: 17vw;
    height: 65.32px;
    background: #FFFFFF;
    border: 1px solid #EFEFF2;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BBCCardName {
    width: 17.8vw;
    height: 24.49px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
    color: #0F0E36;
}

.BBCSubContainer{
    display: flex;
    justify-content: space-between;
}