.FeaturedArtistsMainContainer {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FeaturedArtistsHeading {
    height: 2.25rem;
    font-family: 'Recoleta';
    font-size: 2.25rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0F0E36;
    margin-bottom: 0.5em;
}

.FeaturedArtistsContent {
    height: 30px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    color: #B4B4BF;
}

.FACContainer {
    display: flex;
    justify-content: space-around;
}

.FACMainContainer {
    width: 24.938vw;
    position: relative;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FACImage {
    width: auto;
    height: 100%;
}

.FAC-Description-Container {
    width: 90%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.FACTitle {
    width: 238px;
    min-height: 25px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    margin-bottom: 1em;
    color: #FFFFFF;
}

.FACDescription {
    width: 357px;
    min-height: 15px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 1.5em;
}