.TopNFTsMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TopNFTsMainHeading {
    font-family: 'Recoleta';
    font-style: normal;
    font-size: 2rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0F0E36;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.TopNFTsSubHeading {
    width: 46vw;
    height: 15px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.25rem;
    text-align: center;
    color: #B4B4BF;
    margin-bottom: 2em;
}